<div class="grid-container">
    <!-- <div class="grid-header">
        
        <button (click)="criarSelect()"></button>
    </div> -->
    <div class="grid-item">
        <div id="map"></div>
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"> X </a>
            <div id="popup-content"></div>
        </div>
    </div>
    <div class="grid-item2">
        <span id="status">
            &nbsp;0 selected features
        </span>
        <span id="status2">
            &nbsp;0 Soma de vendas
        </span>
    </div>
</div>