#map { 
    height: 100%; 
}

::ng-deep .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
::ng-deep .info h4 {
    margin: 0 0 5px;
    color: #777;
}

// ::ng-deep .leaflet-tooltip-right {
//     left: 0;
//     margin-left: 24px;
//     border-right-color: rgba(0, 0, 0, 0.4);
// }

::ng-deep .leaflet-tooltip {
    position: absolute;
    padding: 4px;
    background-color: rgba(176, 169, 169, 0.8);
    border: 1px solid #ffffff;
    // color: #000;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}